 {% extends 'base.twig' %}

{% block conteudo %}

<div class="Contato">
	<div class="arabesco" style="background-image: url({{ theme.link}}/assets/images/arabesco.png)">
		<div class="container">
			<div class="Row _gutters _bg">
				<div class="col _col-6 texto wow fadeInLeft">
					<h1>{{ post.titulo }}</h1>
					<p>{{ post.subtitulo }}</p>
				</div>
				<div class="col _col-6 fale_forms">
					{{ fale_conosco }}
				</div>
			</div>
		</div>
	</div>

	<div class="newsletter container">
		<div class="Row _gutters">
			<div class="col _col-6">
				<div class="cat-menu forms">
					<p class="title _tac">Assine nossa newsletter para receber todas as novidades da linha Cat Menu.</p>
					{{ cat_menu }}
				</div>
			</div>
			<div class="col _col-6">
				<div class="dog-menu forms">
					<p class="title _tac">Assine nossa newsletter para receber todas as novidades da linha Dog Menu.</p>
					{{ dog_menu }}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
